.load-more {
    display: flex;
    margin: 0px auto 20px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    color: #fff;
    background-color: #4056b4;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }